@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  z-index: 1;
}

.text--linear {
  background: linear-gradient(135deg, #9955e8 0%, #7bffaf 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
